<!DOCTYPE html>
<html ng-app='Pryce'>
  <head>
      <meta charset="utf-8"/>
      <title>PryceIt</title>
      <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
      <link rel="stylesheet" href="/stylesheets/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
      <script src='/javascripts/angularApp.js'></script>
      <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>

      <style> .glyphicon-thumbs-up {cursor: pointer}</style>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" ng-controller='NavCtrl'>
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" id="navbarBrand" href='/#/home'><strong>PRYCE</strong><strong id="it">IT</strong></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="navbar-right" class="navbar-collapse collapse">
          <ul class='nav navbar-nav navbar-right'>
            <li><a href="/#/about">About</a></li>
            <li><a href="/">Categories</a></li>
            <li ng-show='isLoggedIn()'><a>Signed in as {{ currentUser }}</a></li>
            <li ng-show='isLoggedIn()'><a href='' ng-click='logOut()'>Log Out</a></li>
            <li ng-hide='isLoggedIn()'><a href='/#/login'>Log In</a></li>
            <li ng-hide='isLoggedIn()'><a href='/#/register'>Register</a></li>
          </ul>

      </div>
    </nav>

          <br>
          <ui-view></ui-view>
          <br>

      <div id="footer">
        <div class="container">
          <br>
          <div class="row">
            <ul class="list-inline">
              <li><a href="/#/about">About</a></li>
              <li><a href="/">Terms</a></li>
              <li><a href="/">Privacy</a></li>
              <li><a href="/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>

          <!-- Start of SCRIPTS SHITSSSS  -->
      <!-- Home Template -->
    <script type='text/ng-template' id='/home.html'>

          <!-- <div class='page-header'>
              <h1>Pryce</h1>
          </div> -->

      <!-- <div class="container"> -->
        <!-- <div class="row"> -->
          <!-- <div ng-repeat='post in posts | orderBy: "-upvotes"' class='pryce-card  col-sm-6 col-md-4 col-lg-3' > -->
    <div class=wrapper>
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
          <div ng-repeat='post in posts | orderBy: "-upvotes"' class='grid-item'>
            <br>
            <!-- <div class='pryce-img'><img src="{{post.link}}"></div> -->
            <img src="{{post.link}}">
            <br>
            <div>Name: {{post.title}}</div>
            <div>Price: ${{post.price}}</div>
            <div>Location: {{post.location}}</div>
            <!-- <div>{{post.description}}</div> -->
            <div>posted by <a>{{post.author}}</a></div>
            <span class='glyphicon glyphicon-thumbs-up' ng-click='incrementUpvotes(post)'></span>
            {{post.upvotes}}
            <!-- <span ng-hide='post.link'>{{post.title}}</span>
            <span ng-show='post.author'> posted by <a>{{post.author}}</a> </span> -->
            <a href='#/posts/{{post._id}}'>{{post.comments.length}} Comments</a>
            <a href="#/posts/{{post._id}}">Show Posts</a>
          </div>
      </div>
      <!-- bar which disappears if the user in logged in -->
      <div ng-hide='isLoggedIn()' style="text-align: center">
          <h4>You need to <a href='/#/login'>Log In</a> or <a href='/#/register'>Register</a> before you can add a post
          </h4>
      </div>
  </div>

  <div class="row">
    <div class='col-md-3'></div>
    <div class='col-md-6'>


      <form style='margin-top: 30px' ng-submit='addPost()' ng-show='isLoggedIn()'>
        <h3>Add a new post</h3>
        <div class='form-group'>
            <input class='form-control' type='text' placeholder='Name of Item' ng-model='title'/>
        </div>
        <div class='form-group'>
            <input class='form-control' type='text' placeholder="Photo Link" ng-model='link'/>
        </div>
        <div class='form-group'>
            <input class='form-control' type='text' placeholder="Price" ng-model='price'/>
        </div>
        <div class='form-group'>
            <!-- <input id="curLocation" class='form-control' type='text' placeholder="Location" ng-model='location'/> -->
            <div onclick="getLocation()">Get Location</div>
        </div>
        <div class='form-group'>
            <input class='form-control' type='text' placeholder="Description" ng-model='description'/>
        </div>
        <button type='submit' class='btn btn-primary'>Post</button>
      </form>
    </div>
    <div class='col-md-3'></div>
  </div>
  </div>

    </script>

      <!-- Post Template -->
      <script type='text/ng-template' id='/posts.html'>
        <div class='page-header'>
            <!-- <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a> -->
          <div id="backbutton"><a href back-button>Back</a></div>

          <div class='row' id="post-container">
            <div class="pryce-post col-md-6 col-sm-6 col-xs-12">
              <div><h3>{{post.title}}</h3></div>
              <div class='pryce-post-img'><img src="{{post.link}}"></div>
              <div>Price: $ {{post.price}}</div>
              <div>Location: {{post.location}}</div>
              <div>Description: {{post.description}}</div>
              <span ng-hide='post.link'>{{post.title}}</span>
            </div>

            <div class='map-box col-md-6 col-sm-6 col-md-6'>
              <br>
              <div id="map">
                <h1>
                  THE FRIGGING MAP SHOULD SHOW HERE!
                </h1>
              </div>
              <br>
              <h4>
                Use {{post.location}} to find yourself.
              </h4>
            </div>
          </div>

        </div>
        <!-- <div ng-repeat='comment in post.comments | orderBy: "-upvotes"'>
          <div>
            <span style='font-size: 20px; margin-left: 10px;'>
                {{comment.body}}
            </span>
          </div>
          <div>
            - commented by {{comment.author}} |
            <span class='glyphicon glyphicon-thumbs-up' ng-click='incrementUpvotes(comment)'></span>
            {{comment.upvotes}}
          </div>
          <br>
        </div> -->
        <!-- <div ng-hide='isLoggedIn()'>
            <h3>You need to <a href='/#/login'>Log In</a> or <a href='/#/register'>Register</a> before you can comment
            </h3>
        </div> -->
        <!-- comment form -->
        <div class="row">
          <div class='col-md-3'></div>
          <div class='col-md-6'>
            <div ng-hide='isLoggedIn()'>
                <h4>You need to <a href='/#/login'>Log In</a> or <a href='/#/register'>Register</a> before you can comment
                </h4>
            </div>
            <div class="comment-container">
            <div ng-repeat='comment in post.comments | orderBy: "-upvotes"' class="comment">
              <div>
                <br>
                <span style='font-size: 16px; margin-left: 10px;'>
                    {{comment.body}}
                </span>
              </div>
              <div>
                - commented by {{comment.author}} |
                <span class='glyphicon glyphicon-thumbs-up' ng-click='incrementUpvotes(comment)'></span>
                {{comment.upvotes}}
              </div>
              <br>
            </div>
            </div>

            <form style='margin-top: 30px' ng-submit="addComment()" ng-show='isLoggedIn()'>
                <h3>Add a new comment</h3>
                <div class='form-group'>
                    <input type='text' class='form-control' ng-model='body' placeholder="Comment" />
                </div>
                <button type='submit' class='btn btn-primary'>Post</button>
            </form>
          </div>
          <div class='col-md-3'></div>
        </div>
      </script>

    <!-- Register form -->
  <script type='text/ng-template' id="/register.html">
    <div class='row'>
      <div class='col-md-3'></div>
      <div class='col-md-6'>
          <div class='page-header'>
              <h1>Register</h1>
          </div>

          <div ng-show='error' class='alert alert-danger row'>
              <span>{{ error.message }}</span>
          </div>

          <form ng-submit='register()' style='margin-top: 30px;'>

            <div class='form-group'>
                <input  type='text' class='form-control'
                        placeholder='Username' ng-model='user.username' />
            </div>
            <div class='form-group'>
                <input  type='password' class='form-control'
                        placeholder='Password' ng-model='user.password' />
            </div>
            <button type='submit' class='btn btn-primary'>Register</button>
          </form>
      </div>
      <div class='col-md-3'></div>
    </div>
  </script>

    <!-- Log In Form -->
<script type='text/ng-template' id="/login.html">
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
        <div class='page-header'>
            <h1>Log In</h1>
        </div>

        <div ng-show='error' class='alert alert-danger row'>
            <span>{{ error.message }}</span>
        </div>

        <form ng-submit='logIn()' style='margin-top: 30px;'>
            <div class='form-group'>
                <input  type='text' class='form-control'
                        placeholder='Username' ng-model='user.username' />
            </div>
            <div class='form-group'>
                <input  type='password' class='form-control'
                        placeholder='Password' ng-model='user.password' />
            </div>
            <button type='submit' class='btn btn-primary'>Login</button>
        </form>
    </div>
    <div class='col-md-3'></div>
  </div>
</script>

<script>
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    }
}
function showPosition(position) {

    var location = (position.coords.latitude).toString() + ", " +  (position.coords.longitude).toString()
    // var curLocation = angular.element(document.querySelector('#curLocation'))
    //   .val(location)
    //   document.getElementById('curLocation').className = "form-control ng-valid ng-dirty ng-touched ng-valid-parse"
    localStorage.setItem('location', location)
    // curLocation.value = position.coords.latitude
}
</script>


<!-- About page -->
<script type='text/ng-template' id="/about.html">
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <div class='page-header'>
          <h1>About</h1>
      </div>
        <p>
          PryceIt is a social media platform which seeks to solve the problem of price comparison of goods in various locations.
          We have always believed in the power of crowdsourcing and that is what PryceIt is for, to let users submit answers - or prices in this case.
        </p>
        <p>
          No more travelling back and forth different places trying to figure out if you have got the best deal.
          Just browse through the site to get a better idea.
        </p>
        <p>
          PryceIt - You pry into the price. For your benefit.
        </p>
    </div>
    <div class='col-md-3'></div>
  </div>
</script>


<!-- <script>
  function initMap(){
    google.maps.event.addDomListener(window, "load", initMap);
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"),myOptions);
};

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeKlhE6XDty9NCjizPTgnYFOxCP4cjQ-4"
  async defer>
</script> -->

<!--
     <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
         async defer></script> -->

</body>


</html>
