/*use masonry*/
.wrapper {
    width: 95%;
    margin: 3em auto;
}

.grid {
  /*column-count: 4;
  column-gap: 1em;*/
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}

.grid-item {
  /*background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;*/
  display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.grid-item img {
  width: 100% !important;
 height: auto !important;
}

@media only screen and (min-width: 400px) {
    .grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .pryce-post-img {
      height: 400px;
      width: 400px;
      /*border: dashed red 1px;*/
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
}

@media only screen and (min-width: 700px) {
    .grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .grid {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .grid {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}
/*use masonry*/


body {
  /*padding: 50px;*/
  padding-top: 50px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: #00B7FF;
}
#it {
  color: #00B7FF;
}
/*.page-header h1 {
  margin-left: 50px
}*/
.navbar {
  background-color: #cb2027;
  border-color: #cb2027;
  color: whitesmoke;
}

#navbarBrand {
  color: whitesmoke;
  font-size: 2em;
}

#navbar-right a {
  color: whitesmoke;
}

#footer {
background-color: #cb2027;
width: 100%;
height: 100px;
padding: 10px;
text-align:center;
}

#footer a {
  color: whitesmoke;
}


#backbutton {
  margin-left: 50px;
}
/*
.row .pryce-container {
  display: flex;
  flex-direction: row;
}

.pryce-card {
  text-align: center;
  height: 400px;
  border: dashed blue 1px;

}

.pryce-img {
  height: 200px;
  width: 200px;
  border: dashed red 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pryce-img img {
  max-height: 100%;
  max-width: 100%;
}*/

#post-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 95%;
  margin: auto;
  /*border: dashed blue 1px;*/

}

.pryce-post {
  text-align: center;
  /*border: dashed blue 1px;*/
  background-color: #ccc;

}

.pryce-post-img {
  height: 300px;
  width: 300px;
  /*border: dashed red 1px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pryce-post-img img {
  max-height: 100%;
  max-width: 100%
}

.map-box {
  /*border: dashed blue 1px;*/
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#map {
  width: 400px;
  margin: 0 auto;
  height: 400px;
  background-color: #ccc;
}

.comment-container{
  background-color: #ccc;
  border-radius: 10px;
}

/*
#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
  height: 50%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}*/
